/*
Hearder
nav
section-hero
*/

:root{
    --strongGreen:rgb(4, 107, 0);
    --softYellow:rgb(198, 232, 44);
    --strongBlue:rgb(12, 12, 108);
    --white-complete:#fff;
}
body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: open Sans;
    background-color: rgb(62, 62, 188);
    color: var(--white-complete);
}

/*Estilos del Header*/

header{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    padding: 10px;
}

/* .... CONTAINER LEFT .... */

.container--left{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 25px;
}
.parrafo-header {
    margin: 0;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
} 
.parrafo-header span {
    font-weight: 100;
    font-size: 9px;
    margin: -7px 0 0 0 ;
    font-style: italic;
}

img{
    margin: -10px 0 0 0;
    width: 120px;
    height: 120px;
}

/* .... CONTAINER RIGTH .... */

.container--right{
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    display: flex;
    justify-content: space-evenly; 
    flex-direction: row;
}

.icon-search{
    width: 30px;
    height: 30px;
    
}


.button--inscribirse{
    background-color: var(--strongBlue);
    border: 1px solid var(--strongBlue);
    color: #fff;
    font-size: 13px;
    padding: 10px;
    width: 120px;
    height: 60px;
    box-shadow: 3px 0px 0px 1px black;
}

.button--same{
    padding: 15px;
    width: 120px;
    height: 20px;
    color: var(--white-complete);
    text-decoration: none;
}


/*Estilos de Nav*/

nav{
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 2;
}

.line-nav{
    width: 80%;
    height: 100%;
    border-top: 2px solid var(--white-complete);
    position: absolute;
    z-index: 2;
    right: 0;
}
ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    position: relative;
    padding-left: 200px;
    right: 0;
}
ul li{
    list-style: none;
    margin: 10px;
}
a{
    text-decoration: none;
    color: var(--white-complete);
}

/* ESTILOS MAIN VIDEO */

.video-home{
    position: relative;
    min-width: 100vh;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.protect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}